fastapi
uvicorn
python-dotenv
sqlalchemy
mysql-connector-python
aiomysql
pydantic
pydantic-settings
sqlglot
langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
redis
elasticsearch
tiktoken
fastembed
pytest
pytest-cov
ruff
mypy
